* {
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.in-block {
	display: inline-block;
}

.al-center {
	align-items: center;
}

.ju-center {
	justify-content: center;
}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
}


.wrap {
	flex-wrap: wrap;
}

.ju-between {
	justify-content: space-between;
}

.ju-around {
	justify-content: space-around;
}

.c-red {
	color: red;
}

.hvr:hover {
	cursor: pointer;
}

.fz-14 {
	font-size: 28rpx;
}

.fz-12 {
	font-size: 24rpx;
}

.fz-16 {
	font-size: 32rpx;
}

.fz-18 {
	font-size: 36rpx;
}


.flex-d {
	display: flex;
	flex-direction: column;
}

.fz-cu {
	font-weight: 700;
}

.bai {
	color: white;
}

.hei {
	color: #000000;
}

.m-l1 {
	margin-left: 10rpx;
}

.m-l2 {
	margin-left: 20rpx;
}

.m-l3 {
	margin-left: 30rpx;
}

.m-l4 {
   margin-left: 40rpx;
}


.m-l5{
	margin-left: 50rpx;
}

.m-r0{
	margin-right: 0 !important;
}

.m-r1 {
	margin-right: 10rpx;
}

.m-r2 {
	margin-right: 20rpx;
}

.m-r3 {
	margin-right: 30rpx;
}

.m-r4{
	margin-right: 40rpx;
}

.m-t1 {
	margin-top: 10rpx;
}

.m-t2 {
	margin-top: 20rpx;
}

.m-t3 {
	margin-top: 30rpx;
}

.m-t4 {
	margin-top: 40rpx;
}

.m-t5{
	margin-top: 50rpx;
}

.m-t6{
	margin-top: 60rpx;
}
.m-b2 {
	margin-bottom: 20rpx;
}

.m-b1 {
	margin-bottom: 10rpx;
}

.p-b2{
	padding-bottom: 20rpx;
}

.p-b3{
	padding-bottom: 30rpx;
}

.p-t2{
	padding-top: 20rpx;
}

.flex-w {
	flex-wrap: wrap;
	align-content: flex-start;
}

.al-b{
	align-items: baseline;
}

.cl9{
		color: #999999 ;
	}
	
.cl3{
	color: #333333;
}	